.flows.json.backup
[
    {
        "id": "fcdc1e54.c0378",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c56e56de.3e6918",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "iot_2020",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "7493e9ee.4b09e8",
        "type": "comment",
        "z": "fcdc1e54.c0378",
        "name": "Node-Red y Git",
        "info": "",
        "x": 700,
        "y": 40,
        "wires": []
    },
    {
        "id": "c171d6cd.2d3f18",
        "type": "mysql",
        "z": "fcdc1e54.c0378",
        "mydb": "c56e56de.3e6918",
        "name": "registrosensor",
        "x": 720,
        "y": 240,
        "wires": [
            [
                "bb1f94c0.d69b08",
                "e007d426.44e328"
            ]
        ]
    },
    {
        "id": "f9931894.9dcf28",
        "type": "inject",
        "z": "fcdc1e54.c0378",
        "name": "Crear Tabla Sql",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE `registrosensor` (`id` INT NOT NULL AUTO_INCREMENT, `temperatura` FLOAT NOT NULL, `humedad` FLOAT NOT NULL, `fecha` TIMESTAMP NOT NULL, PRIMARY KEY (`id`)) ENGINE = InnoDB;",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 180,
        "wires": [
            [
                "c171d6cd.2d3f18"
            ]
        ]
    },
    {
        "id": "8a87c20a.ff98c",
        "type": "inject",
        "z": "fcdc1e54.c0378",
        "name": "Mostrar Tablas Sql",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "describe registrosensor",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 260,
        "wires": [
            [
                "c171d6cd.2d3f18"
            ]
        ]
    },
    {
        "id": "901e6d50.2efeb",
        "type": "function",
        "z": "fcdc1e54.c0378",
        "name": "insertSql",
        "func": "\ntemperatura = msg.payload.temperatura;\nhumedad = msg.payload.humedad; \nmsg.topic = \"insert into registrosensor(id, temperatura , humedad, fecha) values (default,\" + temperatura + \",\" + humedad + \",\" + \"CURRENT_TIMESTAMP\"+ \")\"; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 380,
        "wires": [
            [
                "c171d6cd.2d3f18"
            ]
        ]
    },
    {
        "id": "2ee36ad7.8a8846",
        "type": "inject",
        "z": "fcdc1e54.c0378",
        "name": "simular Json",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperatura\":49,\"humedad\":73}",
        "payloadType": "json",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "901e6d50.2efeb"
            ]
        ]
    },
    {
        "id": "bb1f94c0.d69b08",
        "type": "debug",
        "z": "fcdc1e54.c0378",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 160,
        "wires": []
    },
    {
        "id": "e007d426.44e328",
        "type": "debug",
        "z": "fcdc1e54.c0378",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 280,
        "wires": []
    },
    {
        "id": "f46f1f77.1c976",
        "type": "inject",
        "z": "fcdc1e54.c0378",
        "name": "Consulta Tabla",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Select * From registrosensor;",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 500,
        "wires": [
            [
                "c171d6cd.2d3f18"
            ]
        ]
    },
    {
        "id": "c7bcd2cb.7162f",
        "type": "inject",
        "z": "fcdc1e54.c0378",
        "name": "Modificar datos",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "update registrosensor set temperatura= 20 , humedad =20  Where id=1;",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 600,
        "wires": [
            [
                "c171d6cd.2d3f18"
            ]
        ]
    }
]