.flows.json.backup
[
    {
        "id": "fcdc1e54.c0378",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c56e56de.3e6918",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "iot_2020",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "afe34b8e.dcf928",
        "type": "firebase admin",
        "name": "iot-2020"
    },
    {
        "id": "92b2e8b2.fafcb8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "13c80216.1d751e",
        "type": "ui_tab",
        "name": "Principal",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dceae9d1.80f9b8",
        "type": "ui_group",
        "name": "Sensores on/off",
        "tab": "13c80216.1d751e",
        "order": 1,
        "disp": true,
        "width": "3",
        "collapse": false
    },
    {
        "id": "be9dfd9c.04289",
        "type": "ui_group",
        "name": "Estado Sensores",
        "tab": "13c80216.1d751e",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "2c7cd3c8.54a04c",
        "type": "ui_group",
        "name": "Gauges Sensores",
        "tab": "13c80216.1d751e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bf8884ed.149e88",
        "type": "mqtt-broker",
        "name": "Broker",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7493e9ee.4b09e8",
        "type": "comment",
        "z": "fcdc1e54.c0378",
        "name": "Node-Red y Git",
        "info": "",
        "x": 700,
        "y": 40,
        "wires": []
    },
    {
        "id": "c171d6cd.2d3f18",
        "type": "mysql",
        "z": "fcdc1e54.c0378",
        "mydb": "c56e56de.3e6918",
        "name": "registrosensor",
        "x": 720,
        "y": 240,
        "wires": [
            [
                "bb1f94c0.d69b08",
                "e007d426.44e328"
            ]
        ]
    },
    {
        "id": "f9931894.9dcf28",
        "type": "inject",
        "z": "fcdc1e54.c0378",
        "name": "Crear Tabla Sql",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE `registrosensor` (`id` INT NOT NULL AUTO_INCREMENT, `temperatura` FLOAT NOT NULL, `humedad` FLOAT NOT NULL, `fecha` TIMESTAMP NOT NULL, PRIMARY KEY (`id`)) ENGINE = InnoDB;",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 180,
        "wires": [
            [
                "c171d6cd.2d3f18"
            ]
        ]
    },
    {
        "id": "8a87c20a.ff98c",
        "type": "inject",
        "z": "fcdc1e54.c0378",
        "name": "Mostrar Tablas Sql",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "describe registrosensor",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 260,
        "wires": [
            [
                "c171d6cd.2d3f18"
            ]
        ]
    },
    {
        "id": "901e6d50.2efeb",
        "type": "function",
        "z": "fcdc1e54.c0378",
        "name": "insertSql",
        "func": "\ntemperatura = msg.payload.temperatura;\nhumedad = msg.payload.humedad; \nmsg.topic = \"insert into registrosensor(id, temperatura , humedad, fecha) values (default,\" + temperatura + \",\" + humedad + \",\" + \"CURRENT_TIMESTAMP\"+ \")\"; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 380,
        "wires": [
            [
                "c171d6cd.2d3f18"
            ]
        ]
    },
    {
        "id": "2ee36ad7.8a8846",
        "type": "inject",
        "z": "fcdc1e54.c0378",
        "name": "simular Json",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperatura\":15,\"humedad\":38}",
        "payloadType": "json",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "901e6d50.2efeb"
            ]
        ]
    },
    {
        "id": "bb1f94c0.d69b08",
        "type": "debug",
        "z": "fcdc1e54.c0378",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 160,
        "wires": []
    },
    {
        "id": "e007d426.44e328",
        "type": "debug",
        "z": "fcdc1e54.c0378",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 280,
        "wires": []
    },
    {
        "id": "f46f1f77.1c976",
        "type": "inject",
        "z": "fcdc1e54.c0378",
        "name": "Consulta Tabla",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Select * From registrosensor;",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 480,
        "wires": [
            [
                "c171d6cd.2d3f18"
            ]
        ]
    },
    {
        "id": "c7bcd2cb.7162f",
        "type": "inject",
        "z": "fcdc1e54.c0378",
        "name": "Modificar datos",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "update registrosensor set temperatura= 20 , humedad =20  Where id=1;",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 560,
        "wires": [
            [
                "c171d6cd.2d3f18"
            ]
        ]
    },
    {
        "id": "4d36a556.9e756c",
        "type": "inject",
        "z": "fcdc1e54.c0378",
        "name": "Eliminar Registros",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "delete from registrosensor where id>5",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 640,
        "wires": [
            [
                "c171d6cd.2d3f18"
            ]
        ]
    },
    {
        "id": "6ae1c3bb.4b9c3c",
        "type": "firebase out",
        "z": "fcdc1e54.c0378",
        "name": "Firebase",
        "ref": "registrosensor",
        "operation": "push",
        "admin": "afe34b8e.dcf928",
        "x": 620,
        "y": 880,
        "wires": [
            [
                "3a718624.5f301a"
            ]
        ]
    },
    {
        "id": "8978385a.5a16d8",
        "type": "inject",
        "z": "fcdc1e54.c0378",
        "name": "simularJson",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperatura\":922,\"humedad\":72}",
        "payloadType": "json",
        "x": 350,
        "y": 900,
        "wires": [
            [
                "6ae1c3bb.4b9c3c"
            ]
        ]
    },
    {
        "id": "3a718624.5f301a",
        "type": "debug",
        "z": "fcdc1e54.c0378",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 860,
        "wires": []
    },
    {
        "id": "aa8f1862.209088",
        "type": "firebase in",
        "z": "fcdc1e54.c0378",
        "name": "Consultar BD Firebase",
        "ref": "registrosensor",
        "dataAtStart": true,
        "admin": "afe34b8e.dcf928",
        "x": 340,
        "y": 1020,
        "wires": [
            [
                "88aefd5a.3d80d"
            ]
        ]
    },
    {
        "id": "88aefd5a.3d80d",
        "type": "debug",
        "z": "fcdc1e54.c0378",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 980,
        "wires": []
    },
    {
        "id": "98aa3b49.2a2798",
        "type": "ui_switch",
        "z": "fcdc1e54.c0378",
        "name": "",
        "label": "On / Off",
        "tooltip": "",
        "group": "dceae9d1.80f9b8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "estado",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 420,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "1825362e.031f4a",
        "type": "ui_gauge",
        "z": "fcdc1e54.c0378",
        "name": "",
        "group": "2c7cd3c8.54a04c",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 430,
        "y": 1460,
        "wires": []
    },
    {
        "id": "ce226887.bd1228",
        "type": "ui_chart",
        "z": "fcdc1e54.c0378",
        "name": "",
        "group": "be9dfd9c.04289",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperatura y Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#5a9ece",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 470,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "262c661d.260b2a",
        "type": "inject",
        "z": "fcdc1e54.c0378",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Temperatura",
        "payload": "24",
        "payloadType": "num",
        "x": 160,
        "y": 1360,
        "wires": [
            [
                "ce226887.bd1228",
                "1825362e.031f4a"
            ]
        ]
    },
    {
        "id": "7995232b.822cec",
        "type": "inject",
        "z": "fcdc1e54.c0378",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Humedad",
        "payload": "45",
        "payloadType": "num",
        "x": 150,
        "y": 1260,
        "wires": [
            [
                "93417b9c.6db5a8",
                "ce226887.bd1228"
            ]
        ]
    },
    {
        "id": "93417b9c.6db5a8",
        "type": "ui_gauge",
        "z": "fcdc1e54.c0378",
        "name": "",
        "group": "2c7cd3c8.54a04c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 420,
        "y": 1260,
        "wires": []
    },
    {
        "id": "5536025f.a7561c",
        "type": "inject",
        "z": "fcdc1e54.c0378",
        "name": "ciclo de simulacion",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 1180,
        "wires": [
            [
                "e9a0f9a1.deb928"
            ]
        ]
    },
    {
        "id": "9efef9ca.280d18",
        "type": "debug",
        "z": "fcdc1e54.c0378",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 1260,
        "wires": []
    },
    {
        "id": "3c632ad5.593d76",
        "type": "mqtt out",
        "z": "fcdc1e54.c0378",
        "name": "",
        "topic": "UR/PVC/APP",
        "qos": "",
        "retain": "",
        "broker": "bf8884ed.149e88",
        "x": 1160,
        "y": 1360,
        "wires": []
    },
    {
        "id": "e9a0f9a1.deb928",
        "type": "random",
        "z": "fcdc1e54.c0378",
        "name": "simulacion",
        "low": "0",
        "high": "15",
        "inte": "true",
        "property": "payload",
        "x": 930,
        "y": 1280,
        "wires": [
            [
                "9efef9ca.280d18",
                "3c632ad5.593d76"
            ]
        ]
    }
]