flows.json
[
    {
        "id": "fcdc1e54.c0378",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7493e9ee.4b09e8",
        "type": "comment",
        "z": "fcdc1e54.c0378",
        "name": "Node-Red y Git",
        "info": "",
        "x": 700,
        "y": 40,
        "wires": []
    },
    {
        "id": "45e2976d.e260f8",
        "type": "inject",
        "z": "fcdc1e54.c0378",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "e1dec5a8.2503b8"
            ]
        ]
    },
    {
        "id": "e1dec5a8.2503b8",
        "type": "debug",
        "z": "fcdc1e54.c0378",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 220,
        "wires": []
    }
]